.textarea, .multiText {
    background-color: rgb(224, 234, 245);
    padding: 1%;
    border: 0px;
    border-radius: 6px;
    width: 100%;
    text-align: right;
}

.multiText{
    text-align: left;
    resize: none;
    outline: none;
}

.textarea > span {
    opacity: 0.45;
}

/* .textarea:hover > .multiText:hover{
    background-color: rgb(214, 233, 236);
} */

.month-year-picker{
    display:inline;
    width:100px;
    
}

.month-year-picker > div{
    background-color: rgb(224, 234, 245);
    border: none;
    border-radius:1px;
    padding: 1%;
    padding-left: 0%;
}

.month-year-picker input{
    background-color: transparent;
    outline: none;
}

.month-year-picker span{
    
}

.Calender {
    /* position: absolute; */
    /* top: 100%;
    left: 0; */
    /* z-index: 2000; */
    /* background-color: blue; */
}
/* 
.react-calender {
    background-color: red;
} */