.Skill {
    text-align: justify;
}

.Skill li{
    list-style: none;
    display: inline-block;
    font-size: 9pt;
    padding: 5px;
    margin: 0 3px 2px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.35);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    cursor: pointer;
};


/* Desktop view not responding ??? */
@media (min-width: 760px){
    .Skill li{
        font-size: 12pt;
        padding: 8px;
        margin: 0 5px 8px;
    }
}