.Skill {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
}
.circle{
    color: green;
}

.Skill li{
    list-style: none;
    font-size: 14pt;
    background-color: rgb(147, 147, 148);
    padding: 10px;
    margin: 0 5px 10px;
    border-radius: 5%;
    border-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    cursor: pointer;
};



/* Desktop view not responding ??? */
@media (min-width: 760px){
    .Skill li{
        font-size: 12pt;
        padding: 8px;
        margin: 0 5px 8px;
    }
}
@media (max-width: 565px) {
   
    .Skill li{
        
        font-size: 10pt;
       
        padding: 4px;
        margin: 0 5px 5px;
      
    }
    
  }