.Skill {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
}
.circle{
    color: green;
}

.Skill li{
    list-style: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0 5px 10px;
    border-radius: 5%;
    border: 1px solid rgba(0, 0, 0, 0.185);
    cursor: pointer;
};



/* Desktop view */
@media (min-width: 760px){
    .Skill li{
        padding: 8px;
        margin: 0 5px 8px;
    }
}
@media (max-width: 565px) {
   
    .Skill li{
        padding: 4px;
        margin: 0 5px 5px;
      
    }
    
  }