.Login {
    color: rgb(102, 141, 12);
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    height: 500px;
    padding: 10px ;

}

.column {   
    border: 1px solid brown;
    flex: 50%;
}

.signinbox {
    border: 1px solid brown;
    margin-top: 100px;
    height: 250px;
}

.signin_title {
    color: darkgreen;
    text-align: center;
}

@media screen and (max-width: 600px){
    .Login {
        flex-wrap: wrap-reverse;
    }
}