.Main {
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
}

.Section, .Aside {
    width: 100%;
    box-sizing: border-box;
    padding: 1% 6%;
    text-align: left;
}

.Aside{
    margin-top: 20px;
}

@media (min-width: 760px){

    .Section, .Aside{
        display: inline-block;
        padding-left: 10%;
        padding-right: 10%;
        width: 50%;
    }
    
    .Aside {
        vertical-align: top;
    }
}