.Main {
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
}

.Section, .Aside {
    width: 100%;
    box-sizing: border-box;
    padding: 8%;
    text-align: center;
}

.Aside{
    margin-top: 20px;
}

@media (min-width: 760px){

    /* .Section, .Aside{
        float: none;
    } */

    .Section{
        display: inline-block;
        width: 50%;
        /* border: 1px solid black; */
    }
    
    .Aside {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin-top: 0;
        /* border: 1px solid black; */
    }
}