
.carousel {
  box-shadow: 15px 7px 10px rgba(142, 145, 144, 0.938); 
  height: 70vh;
  margin-top: 0;
}

.carousel_slides {
    display: block;
    margin-left: 9%;
    margin-right: 9%;
    overflow: hidden;
    list-style: none;
    padding-top: 5%;
}  

.carousel img {
  height: 250px;
}

.carousel_text {
    text-align: center;
    height: 120px;
    margin: 5%;
    margin-bottom: 14%;
    font: "Poppins";
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
}