
.carousel {
  box-shadow: 15px 7px 10px rgba(142, 145, 144, 0.938); 
  height: 480px;
}

.carousel_slides {
    display: block;
    position: relative;
    height: 350px;
    top: 5%;
    margin-left: 9%;
    margin-right: 9%;
    overflow: hidden;
    list-style: none;
    
}  

.carousel_text {
    text-align: center;
    position: relative;
    top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font: "Poppins";
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
}