.Wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
    margin: 0;
}

ul{
    padding-left: 10px;
    margin-left: 30px;
   list-style-type: square; 
    

}

.Link {
    text-decoration: none;
    color: #6357AE;
}

.Link:active{
    text-decoration: none;
    color: #6357AE;
}

.Link:visited{
    text-decoration: none;
    color: #6357AE;
}

.Link:active{
    text-decoration: none;
    color: #6357AE;
}

.Link:hover{
    text-decoration: none;
    color: #6357AE;
}


@media (min-width: 760px){
    li{
        padding: 6px;
    }
  }
  