.Wrapper {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    padding: 8px 1%;
}

.SubSection {
    text-align: left;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid green;
}

.Wrapper section {
    padding: 0 1%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1%;
    width: 95%;
    display: inline-block;
    text-align: center;
    border: 1px solid blue;
}


/* Desktop view */
@media (min-width: 760px){
    
    .Wrapper section {
        width: 80%;
    }
}