.Wrapper {
    width: 100%;
    text-align: center;
    padding: 8px 1%;
}


.SubSection {
    display: inline-block;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding: 2%;
    margin-top: 5px;
    border: 0; /*1px solid rgb(231, 233, 232);*/
    box-shadow: 2px 4px 14px rgba(35, 52, 77, 0.2);
}

.Wrapper section {
    padding: 0 1%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1%;
    width: 95%;
    display: inline-block;
    text-align: center;
}


/* Desktop view */
@media (min-width: 760px){
    
    .Wrapper section {
        width: 80%;
    }

    .SubSection {
        width: 80%;
        margin-top: 10px;
    }

    .SubSection > p{
        text-align: left;
    }
}