.Img {
  width: 80px;
  text-align: center;
  margin: 5% 0;
  height: 65px;
  vertical-align: middle;
  border-radius: 8px;
}

.span{
  background-color: rgb(224, 222, 222);
  padding: 10px;
  margin:5px;
  display:inline-block;
  border-radius: 20px;
}

.icon{
  color:rgb(235, 194, 194);
  margin-left: 10px;
}

.li{
  background-color: rgb(222, 230, 243);
  list-style:none;
  display:inline-block;
  margin: 5px;
  color:rgb(49, 108, 235);
  padding: 7px;
  border-radius:20px;
}
.icon:hover{
  cursor: pointer;
}

.wrapper {
  margin-top: 30px;
  border: 1px solid black;
}

.Mb_5 {
  margin-bottom: 1%;
}

.Mb_5 input, .Mb_5 select{
  height: 35px;
  background-color: rgb(224, 234, 245);
  border-radius: 5px;
  border: 0px;
}

::placeholder,
:-ms-input-placeholder {
  color: rgb(224, 9, 9);
  padding: 20px;
}

.Mb_5 input:hover, .Mb_5 select:hover {
  background-color: rgb(214, 233, 236);
}

span {
  color: rgba(5, 81, 194, 0.8);
}

span:hover {
  cursor: pointer;
}

form label {
  color: rgb(148, 147, 147);
}


.Accordion_Parent {
  margin-bottom: 2%;
  overflow: visible !important;
}


.Accordion_Child{
  overflow: visible !important;
  width: 100%;
}

.Label {
  position: relative;
  top: 5px;
  width: 60%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Accordion_Child .Span {
  float: right;
}

.Accordion_Body {
  position: relative !important;
  top: 0;
  overflow: auto !important;
  z-index: 12 !important;
}

/* Desktop view */
@media (min-width: 760px) {
.Img {
  height: 120px;
  width: 120px;
}

  .Accordion_Child {
    margin-bottom: 1%;
    position: absolute;
    z-index: 1;
  }

  .Accordion_Parent{
    margin-bottom: 2%;
  }

  .Mb_5 {
    margin-bottom: 10px;
  }

  .Mb_5 input, .Mb_5 select{
    height: 45px;
    background-color: rgb(224, 234, 245);
    border-radius: 5px;
    border: 0px;
  }

  .Label{
    top: 8px;
  }
}
