/* card styling*/
.card {
  max-width: 23%;
  min-width: 23%;
  position: relative;
  border: 1px solid #e6e2e3;
  box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.2);
  margin-right: 2%;
  margin-bottom: 2%;
}

.card:hover {
  cursor: pointer;
  top: -4px;
}

/*card body*/
.body {
  text-align: left;
  padding: 5%;
}

/*card title*/
.head {
  background-color: rgb(37, 25, 199);
  padding: 10px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}

.container {
  box-sizing: border-box;
  padding: 0 1%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
}
.head:hover {
  background-color: rgb(41, 30, 245);
}

/*link style*/
.link {
  float: right;
}


/* Modal size */
.Modal {
  width: 60%;
}

@media (max-width: 565px) {
  .card {
    max-width: 48%;
    min-width: 48%;
    border: 1px solid #e6e2e3;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 3%;
    margin-right: 1%;
  }
  .card:hover {
    cursor: pointer;
    top: -0;
  }
}
