.Avatar_Wrapper {
    width: 60%;
    margin: 5% auto ;
}

.Avatar {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    padding: 0;
    border-radius: 100%;
}


/* Desktop view */
@media (min-width: 760px){
    .Avatar_Wrapper {
        width: 60%;
        margin: 5% auto;
    }
}