.Avatar_Wrapper {
    width: 80%;
    margin: 40px auto 20px ;
}

.Avatar, .initials {
    width: 100%;
    background-size: cover;
    min-width: 150px;
    max-width: 200px;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    border-radius: 100%;
}

.initials {
    background-color: #a3a3ff;
    margin: auto;
    padding: 70px;
    display: flex;
    justify-content: center;
}


/* Desktop view */
@media (min-width: 760px){
    .Avatar_Wrapper {
        width: 100%;
       
    }

    .Avatar {
        width: 60%;
    }
}


@media (min-width: 850px){

    .Avatar_Wrapper {
        width: 70%;
    }

    .Avatar{
        width: 100%;
    }
}