.Avatar_Wrapper {
    width: 80%;
    margin: 2% auto ;
}

.Avatar {
    width: 100%;
    background-size: cover;
    min-width: 150px;
    max-width: 250px;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    border-radius: 100%;
}


/* Desktop view */
@media (min-width: 760px){
    .Avatar_Wrapper {
        width: 100%;
        margin: 3% auto;
    }

    .Avatar {
        width: 60%;
    }
}


@media (min-width: 850px){

    .Avatar_Wrapper {
        width: 70%;
    }

    .Avatar{
        width: 100%;
    }
}