.Wrapper {
    text-align: center;
    background-color: rgb(226, 229, 250);
}

.div{
background-color: white;
border-radius: 10px;
padding: 20px;
color: black;
height: auto;
}

.Butt{
    background-color: rgb(212, 164, 6);
    color: black;
    border-width: 0px;
    padding: 10px;
    font-weight: bold;
    margin-top: 20px;
}
.timeline{
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    color: black;
    height: auto;
    }
   
    
.Aside{
    background-color: rgb(241, 241, 245);
    height: 100%;
    padding-bottom: 2%;
    text-align: center;
}

.Main{
    background-color: rgb(26, 23, 23);
    color: white;
    font-weight: bold;
    padding: 0;
    display: inline-block;
    
}

.Main_Content{
    margin-bottom: 8px;
    width: 100%;
    box-sizing: border-box;
    border-width: 0px;
    padding:0 4% 0 2%;
}


/* Desktop view */
@media (min-width: 800px){
    
    .Main {
        height: 620px;
        overflow: scroll;
        text-align: left;
        height: 90vh;
    }

    ::-webkit-scrollbar{
    width: 0px;
        background: transparent;
    }
}